html{
  background-image: linear-gradient(to right, #12011c , #350354);
}


h2 {
  text-align: center;
}

form {
  
  display: flex;
  color: wheat;
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  
}

label {
  margin-bottom: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

label span {
  width: 20px;
}

input {
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 20%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  width: 120px; 
  margin: 20px; 
  background-color:  #296ca6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}
h2{
  color: wheat;
}