/* LoginPage.css */
.login-page {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #a8e6c7; /* Green background color */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

label span {
  width: 20px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 20%;
  box-sizing: border-box;
}

button {
  padding: 10px;
  width: 8%; /* Adjust the width as needed */
  margin-top: 10px; /* Add margin-top to separate the button from input boxes */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}
