
  @import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;700&display=swap');


.navbar-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: black;
  }
  
  .logo {
    height: 80px;
    width: 110px;
    margin-right: 20px;
  }
  
  .title {
    
    color: #c3d6c8;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px 3px #ababab;
    font-family: 'Sofia'
  }
 #buttons{
  
  margin-left: auto;
 }
 #button{
  font-size: 21px;
  font-family: 'Teko', sans-serif;
  margin: 10px;
  height: 60px;
  width: 100px;
  margin-left: auto;
  background-color: #411854;
 }
 .man{
  height: 90px;
  width: 90px;
  vertical-align: bottom
 }
.buttonblack{
  background-color: #16558c;
  font-size: 21px;
  font-family: 'Teko', sans-serif;
  color:white;
 
   margin: 10px;
  height: 60px;
  width: 100px;
  margin-left: auto;
}
.buttonblack:hover{

  background-color: #20639e;
  color:white;
  font-size: 21px;
  font-family: 'Teko', sans-serif;
 
   margin: 10px;
  height: 60px;
  width: 100px;
  margin-left: auto;
}

#button:hover{
  margin: 10px;
  height: 60px;
  width: 100px;
  margin-left: auto;
  background-color: #4f1769;
 }