.navbar-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #042617;
  }
  
  .logo {
    height: 80px;
    width: 110px;
    margin-right: 20px;
  }
  
  .title {
    
    color: #c3d6c8;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 3px 3px 3px #ababab;
    font-family: 'Sofia'
  }
 #buttons{
  
  margin-left: auto;
 }
 #button{
  margin: 10px;
  height: 60px;
  width: 100px;
  margin-left: auto;
  background-color: #945512;
 }
 .man{
  height: 90px;
  width: 90px;
  vertical-align: bottom
 }
.buttonblack{
  background-color: black;
  color:#7d1a1f;
  font-weight: bold;
  font-size: 12px;
   margin: 10px;
  height: 60px;
  width: 100px;
  margin-left: auto;
}
.buttonblack:hover{

  background-color: #262626;
  color:#7d1a1f;
  font-weight: bold;
  font-size: 12px;
   margin: 10px;
  height: 60px;
  width: 100px;
  margin-left: auto;
}

#button:hover{
  margin: 10px;
  height: 60px;
  width: 100px;
  margin-left: auto;
  background-color: #784512;
 }